.bg{
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
    z-index:-1;
}
.navbar {
    display: flex;
    justify-content: flex-start; 
    position: fixed;
    top: 25px; 
    left: 5px;
}
.navbutton {
   background-color: transparent;
    color:#724141;
    text-decoration: none;
    font-family: "serenity", sans-serif;
    font-size: 25px;
    font-style: normal;
    padding: 7px 20px;
    border-radius: 20px;
    border: 2px solid #724141; 
    margin-left: 10px;
}
  .navbutton:hover {
    font-style: italic;
}
  .title {
    color: #724141;
    font-family: "serenity", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 150px;
    justify-content: center;
    text-align: center;
    position: relative;
}
.des{
    color: #724141;
    font-family: "serenity", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 30px; 
    justify-content: center;
    text-align: center;
    margin-left:250px;
    margin-right:250px;
}

@media screen and (max-width: 768px)
{
  .title{
    font-size: 50px;
    margin-top: 100px;
  }
  .des{
    font-size: 20px;
    margin-left:0px;
    margin-right: 0px;
  }
}