.bg{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}
@media screen and (min-width: 576px) {
.navbutton
{
  display: flex;
  justify-content: center;
}
  
}
.navbar {
    display: flex;
    justify-content: flex-start; 
    position: fixed; /* Position the navbar */
    top: 25px; /* Adjust top position if necessary */
    left: 5px;
}
.navbutton {
   background-color: transparent;
    color:#724141;
    text-decoration: none;
    font-family: "serenity", sans-serif;
    font-size: 25px;
    font-style: normal;
    padding: 7px 20px;
    border-radius: 20px;
    border: 2px solid #724141; 
    margin-left: 10px;
}

  .navbutton:hover {
    font-style: italic;
}
  .title {
    color: #724141;
    font-family: "serenity", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 150px;
    justify-content: center;
    text-align: center;
    margin-top: 280px;
    position: relative;
}
  .start{
    background-color: transparent;
    color: #724141;
    font-family: "serenity", sans-serif;
    font-weight: 300;
    font-size: 40px;
    padding: 7px 20px;
    border-radius: 20px; 
    border: 2px solid #724141; 
    justify-content: center;
    text-align: center;
    margin-left: 620px;
    position: relative;
}
  .start:hover {
    font-style: italic;
}
 