@font-face {
    font-family: stitch;
    src: url(fonts/MixStitch.ttf);
    
}
@font-face {
    font-family: screenprintfont;
    src: url(fonts/screen.ttf);
}
.heading
{
    text-align: center;
    font-size: 50px;
}
#blockhead
{
    font-weight: bold; 
    color: rgb(234, 221, 202);
    text-shadow: -2px 2px 2px rgb(123, 63, 0,0.9);
}
#embhead
{
    font-family: stitch;
}
#screenhead
{
    font-family: screenprintfont;
}
#digihead
{
    opacity: 0;
    animation: fadeIn 2s forwards;
}
#intro
{
    font-family: 'Courier New', Courier, monospace;
}
.nav
{
    position: fixed;
    z-index: 2;
}
li
{
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

img
{
    width: 400px;
    height: 400px;
}
#main
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    column-gap: 5px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.digi
{
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 25px;
  opacity: 0;
  animation: fadeIn 5s forwards;
}
.embroidery
{
  font-family: stitch;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 35px;
}
.screenprint
{
    font-family: screenprintfont;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 35px;
}
.block
{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 35px;
    font-weight: bold; 
    color: rgb(234, 221, 202);
    text-shadow: -2px 2px 2px rgb(123, 63, 0,0.9);
   
}
.batik
{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 35px;
}
.transfer
{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 30px;
}
#line1
{
    animation-delay: 5s;
}
#line2
{
    animation-delay: 25s;
}
#line3
{
    animation-delay: 45s;
}
#line4
{
    animation-delay: 65s;
}
#line5
{
    animation-delay: 85s;
}
#line6
{
    animation-delay: 105s;
}
#line7
{
    animation-delay: 115s;
}
#line8
{
    animation-delay: 135s;
}
@keyframes fadeIn {
    0% {
      opacity: 0; /* Start with text hidden */
    }
    100% {
      opacity: 1; /* Fully reveal the text */
    }
  }
  