@font-face {
    font-family: stitch;
    src: url(fonts/MixStitch.ttf);
    
}
@font-face {
    font-family: screenprintfont;
    src: url(fonts/screen.ttf);
}
a:active{
color: #000;
text-decoration: none;
font-size: 20px;
}
a:visited{
color: #000;
text-decoration: none;
font-size: 20px;
}
a
{
color: #000;
text-decoration: none;
font-size: 20px;
}
.heading
{
    text-align: center;
    font-size: 50px;
}
#blockhead
{
    font-weight: bold; 
    color: rgb(234, 221, 202);
    text-shadow: -2px 2px 2px rgb(123, 63, 0,0.9);
}
#embhead
{
    font-family: stitch;
}
#screenhead
{
    font-family: screenprintfont;
}
#digihead
{
    opacity: 0;
    animation: fadeIn 2s forwards;
}
#intro
{
    font-family: "adobe-handwriting-ernie",sans-serif;
font-weight: 400;
font-style: normal;
}
.nav
{
    position: fixed;
    z-index: 2;
}
li
{
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

img
{
    width: 400px;
    height: 400px;
}
#main
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    column-gap: 5px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.images
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    column-gap: 5px;
    row-gap: 20px;
    flex-wrap: wrap;
}
#digital
{
    animation: fadeIn 25s forwards;
}
.digi
{
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 25px;
  opacity: 0;
  animation: fadeIn 25s forwards;
}
.embroidery
{
  font-family: stitch;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 35px;
}
.screenprint
{
    font-family: screenprintfont;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 35px;
}
.block
{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 35px;
    font-weight: bold; 
    color: rgb(234, 221, 202);
    text-shadow: -2px 2px 2px rgb(123, 63, 0,0.9);
   
}
.batik
{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 35px;
}
.transfer
{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 30px;
}
.transfer::after {
    content: attr(data-content); /* Use content attribute to reflect text */
    position: absolute;
    top: 100%; /* Position reflection below original text */
    left: 0;
    color: rgba(0, 0, 0, 1); /* Set reflection color and opacity */
    transform: scaleY(-1); /* Flip reflection vertically */
  }
#batikimg
{
    width: 100px;
    height: 100px;
}
#line1
{
    animation-delay: 5s;
}
#line2
{
    animation-delay: 25s;
}
#line3
{
    animation-delay: 45s;
}
#line4
{
    animation-delay: 65s;
}
#line5
{
    animation-delay: 85s;
}
#line6
{
    animation-delay: 105s;
}
#line7
{
    animation-delay: 115s;
}
#line8
{
    animation-delay: 135s;
}
@keyframes fadeIn {
    0% {
      opacity: 0; /* Start with text hidden */
    }
    100% {
      opacity: 1; /* Fully reveal the text */
    }
  }
  